# 作業 : (Kaggle)鐵達尼生存預測

# [作業目標]
- 試著模仿範例寫法, 在鐵達尼生存預測中, 觀察計數編碼與特徵雜湊的效果

# [作業重點]
- 仿造範例, 完成自己挑選特徵的群聚編碼 (In[2], Out[2])
- 觀察群聚編碼, 搭配邏輯斯回歸, 看看有什麼影響 (In[5], Out[5], In[6], Out[6])

# 作業1
* 試著使用鐵達尼號的例子，創立兩種以上的群聚編碼特徵( mean、median、mode、max、min、count 均可 )

In [38]:
# 做完特徵工程前的所有準備 (與前範例相同)
import pandas as pd
import numpy as np
import copy
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
import warnings
warnings.filterwarnings('ignore')

data_path = '../data/'
df = pd.read_csv(data_path + 'titanic_train.csv')

train_Y = df['Survived']
df = df.drop(['PassengerId', 'Survived'] , axis=1)
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [39]:
# 取一個類別型欄位, 與一個數值型欄位, 做群聚編碼
df['Cabin'] = df['Cabin'].fillna('None')
df['Age'] = df['Age'].fillna(df['Age'].mean())

mean_df = df.groupby(['Cabin'])['Age'].mean().reset_index()
mode_df = df.groupby(['Cabin'])['Age'].apply(lambda x: x.mode()[0]).reset_index()
median_df = df.groupby(['Cabin'])['Age'].median().reset_index()
max_df = df.groupby(['Cabin'])['Age'].max().reset_index()
temp = pd.merge(mean_df, mode_df, how='left', on=['Cabin'])
temp = pd.merge(temp, median_df, how='left', on=['Cabin'])
temp = pd.merge(temp, max_df, how='left', on=['Cabin'])
temp.columns = ['Cabin', 'Cabin_Age_Mean', 'Cabin_Age_Mode', 'Cabin_Age_Median', 'Cabin_Age_Max']
temp

,Cabin,Cabin_Pclass_Mean,Cabin_Pclass_Mode,Cabin_Pclass_Median,Cabin_Pclass_Max
0,A10,36.000000,36.000000,36.000000,36.000000
1,A14,29.699118,29.699118,29.699118,29.699118
2,A16,48.000000,48.000000,48.000000,48.000000
3,A19,29.699118,29.699118,29.699118,29.699118
4,A20,49.000000,49.000000,49.000000,49.000000
5,A23,80.000000,80.000000,80.000000,80.000000
6,A24,31.000000,31.000000,31.000000,31.000000
7,A26,56.000000,56.000000,56.000000,56.000000
8,A31,40.000000,40.000000,40.000000,40.000000
9,A32,29.699118,29.699118,29.699118,29.699118
10,A34,4.000000,4.000000,4.000000,4.000000
11,A36,39.000000,39.000000,39.000000,39.000000
12,A5,71.000000,71.000000,71.000000,71.000000
13,A6,28.000000,28.000000,28.000000,28.000000
14,A7,56.000000,56.000000,56.000000,56.000000
15,B101,35.000000,35.000000,35.000000,35.000000
16,B102,29.699118,29.699118,29.699118,29.699118
17,B18,30.000000,16.000000,30.000000,44.000000
18,B19,61.000000,61.000000,61.000000,61.000000
19,B20,24.000000,17.000000,24.000000,31.000000
20,B22,53.000000,36.000000,53.000000,70.000000
21,B28,50.000000,38.000000,50.000000,62.000000
22,B3,43.000000,43.000000,43.000000,43.000000
23,B30,65.000000,65.000000,65.000000,65.000000
24,B35,24.000000,24.000000,24.000000,24.000000
25,B37,58.000000,58.000000,58.000000,58.000000
26,B38,45.000000,45.000000,45.000000,45.000000
27,B39,22.000000,22.000000,22.000000,22.000000
28,B4,44.000000,44.000000,44.000000,44.000000
29,B41,60.000000,60.000000,60.000000,60.000000
...,...,...,...,...,...
118,E121,16.500000,6.000000,16.500000,27.000000
119,E17,51.000000,51.000000,51.000000,51.000000
120,E24,38.500000,35.000000,38.500000,42.000000
121,E25,36.000000,36.000000,36.000000,36.000000
122,E31,46.000000,46.000000,46.000000,46.000000
123,E33,25.849559,22.000000,25.849559,29.699118
124,E34,40.000000,40.000000,40.000000,40.000000
125,E36,30.000000,30.000000,30.000000,30.000000
126,E38,65.000000,65.000000,65.000000,65.000000
127,E40,41.000000,41.000000,41.000000,41.000000
128,E44,44.500000,39.000000,44.500000,50.000000
129,E46,54.000000,54.000000,54.000000,54.000000
130,E49,39.000000,39.000000,39.000000,39.000000
131,E50,25.000000,25.000000,25.000000,25.000000
132,E58,47.000000,47.000000,47.000000,47.000000
133,E63,47.000000,47.000000,47.000000,47.000000
134,E67,45.500000,39.000000,45.500000,52.000000
135,E68,18.000000,18.000000,18.000000,18.000000
136,E77,57.000000,57.000000,57.000000,57.000000
137,E8,30.000000,27.000000,30.000000,33.000000
138,F E69,29.699118,29.699118,29.699118,29.699118
139,F G63,42.000000,42.000000,42.000000,42.000000
140,F G73,22.000000,19.000000,22.000000,25.000000
141,F2,13.833333,2.000000,3.000000,36.500000
142,F33,29.000000,24.000000,29.000000,34.000000
143,F38,29.699118,29.699118,29.699118,29.699118
144,F4,2.500000,1.000000,2.500000,4.000000
145,G6,14.750000,2.000000,14.000000,29.000000
146,None,28.048341,29.699118,29.699118,74.000000
147,T,45.000000,45.000000,45.000000,45.000000

In [40]:
df = pd.merge(df, temp, how='left', on=['Cabin'])
df = df.drop(['Cabin'] , axis=1)
df.head()

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,Cabin_Pclass_Mean,Cabin_Pclass_Mode,Cabin_Pclass_Median,Cabin_Pclass_Max
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S,28.048341,29.699118,29.699118,74.0
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C,38.000000,38.000000,38.000000,38.0
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S,28.048341,29.699118,29.699118,74.0
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S,36.000000,35.000000,36.000000,37.0
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S,28.048341,29.699118,29.699118,74.0

In [41]:
#只取 int64, float64 兩種數值型欄位, 存於 num_features 中
num_features = []
for dtype, feature in zip(df.dtypes, df.columns):
    if dtype == 'float64' or dtype == 'int64':
        num_features.append(feature)
print(f'{len(num_features)} Numeric Features : {num_features}\n')

# 削減文字型欄位, 只剩數值型欄位
df = df[num_features]
df = df.fillna(-1)
MMEncoder = MinMaxScaler()
df.head()

9 Numeric Features : ['Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Cabin_Pclass_Mean', 'Cabin_Pclass_Mode', 'Cabin_Pclass_Median', 'Cabin_Pclass_Max']

,Pclass,Age,SibSp,Parch,Fare,Cabin_Pclass_Mean,Cabin_Pclass_Mode,Cabin_Pclass_Median,Cabin_Pclass_Max
0,3,22.0,1,0,7.2500,28.048341,29.699118,29.699118,74.0
1,1,38.0,1,0,71.2833,38.000000,38.000000,38.000000,38.0
2,3,26.0,0,0,7.9250,28.048341,29.699118,29.699118,74.0
3,1,35.0,1,0,53.1000,36.000000,35.000000,36.000000,37.0
4,3,35.0,0,0,8.0500,28.048341,29.699118,29.699118,74.0

# 作業2
* 將上述的新特徵，合併原有的欄位做生存率預估，結果是否有改善?

In [42]:
df_minus = df.drop(['Cabin_Age_Mean', 'Cabin_Age_Mode', 'Cabin_Age_Median', 'Cabin_Age_Max'] , axis=1)

In [43]:
# 原始特徵 + 邏輯斯迴歸
train_X = MMEncoder.fit_transform(df_minus)
estimator = LogisticRegression()
cross_val_score(estimator, train_X, train_Y, cv=5).mean()

0.6982266036406296

In [44]:
# 新特徵 + 邏輯斯迴歸
train_X = MMEncoder.fit_transform(df)
estimator = LogisticRegression()
cross_val_score(estimator, train_X, train_Y, cv=5).mean()

0.708364497034705